[user]
	name = "Nimaro Patience "
	email = nimaropatience4@gmail.com
[core]
	editor = \"C:\\Users\\Torach\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
